body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}

#title {
    margin: 20px auto 0 auto;
    width: 700px;
}

#tablegame {
    margin: 20px auto 0 auto;
    width: 700px;
    height: 700px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #cedce0;
    border-radius: 6px;
    padding: 50px;
}

.boton {
    float:left;
    width: 300px;
    height: 300px;

}
#rojo {
    float: top;
    display: inline-block;
    background-color: red;
    margin: 15px;
     border: 4px solid #000; 
     border-radius: 300px 0 0 0;
     -moz-border-radius: 300px 0 0 0;
     -webkit-border-radius: 300px 0 0 0;
}

#verde {
    float: top;
    background-color: green;
    display: inline-block;
    margin: 15px;
     border:4px solid #000; 
     border-radius: 0 300px 0 0;
     -moz-border-radius: 0 300px 0 0;
     -webkit-border-radius: 0 300px 0 0;
}
#amarillo{
    float: bottom;
    display: inline-block;
    background-color: yellow;
    margin: 15px;
     border:4px solid #000; 
     border-radius: 0 0 300px 0;
     -moz-border-radius: 0 0 300px 0;
     -webkit-border-radius: 0 0 300px 0;
}
#azul{
    float: bottom;
    background-color: blue;
    display: inline-block;
    margin: 15px;
     border:4px solid #000; 
     border-radius: 0 0 0 300px;
     -moz-border-radius: 0 0 0 300px;
     -webkit-border-radius: 0 0 0 300px;

}

.footer {
    clear: both;
    margin: 0 auto 10px; auto;
    float: right;
    width: 400px;
}